@model Booksy.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = "Book Details";
}

<div style="margin-top: 100px;">
<h2>@Model.Book.Title</h2>
<div style="display: flex; gap: 50px; margin-top:50px;">
    <div style="width:40%">
        <img src="@Model.Book.CoverUrl" alt="Cover Image" style="max-width:200px; max-height:200px;" />
        <p><strong>Price:</strong> @Model.Book.Price</p>
        <p><strong>Category:</strong> @Model.Book.Category</p>
    </div>
    <div style="width: 60%">
        <p><strong>Description</strong></p>
        <p>@Model.Book.Description</p>
        <a asp-controller="Book" asp-action="Edit" asp-route-BookId="@Model.Book.BookId" class="btn btn-primary">Edit</a>
        <a asp-controller="Book" asp-action="Delete" asp-route-BookId="@Model.Book.BookId" class="btn btn-danger">Delete</a>
    </div>
</div>
<a scr="@Model.Book.DownloadUrl" class="btn btn-primary">Download</a>
<h3>Comments</h3>
<table class="table">
    <thead>
        <tr>
            <th>Comment</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments) {
            <tr>
                <td>@comment.CommentText</td>
                <td>@comment.UserName</td>>
                <td>
                    <a asp-action="EditComment" asp-route-id="@comment.CommentId" class="btn btn-primary">Edit</a>
                    <a asp-action="DeleteComment" asp-route-id="@comment.CommentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateComment" asp-route-bookId="@Model.Book.BookId" class="btn btn-success">Add Comment</a>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

