@model IEnumerable<Booksy.Models.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 100px;">
<h1 class="page-title">Books</h1>

<p>
    <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                            @if (item.Author != null)
                            {
                                @item.Author.FirstName @item.Author.LastName
                            }
                            else
                            {
                                <em>Unknown</em>
                            }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                            <a asp-controller="Book" asp-action="Edit" asp-route-BookId="@item.BookId" class="btn btn-success btn-sm"><i class="fas fa-pen"></i></a>
                            <a asp-controller="Book" asp-action="Details" asp-route-BookId="@item.BookId" class="btn btn-secondary btn-sm"> <i class="fas fa-info-circle"></i></a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-BookId="@item.BookId" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>