@model Serie

@{
    ViewData["Title"] = "Series Details";
}

<div style="margin-top: 130px;">
    <h2>@Model.SeriesName</h2>

    <div>
        <h4>Series Description</h4>
        <p>@Model.SeriesDescription</p>
    </div>

    <div>
        <h4>Books in this Series</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Title</td>
  
                        <td>@book.Price.ToString("C")</td> <!-- Formats the price as currency -->
                        <td>
                            <a asp-controller="Book" asp-action="Details" asp-route-bookId="@book.BookId" class="btn btn-secondary"> <i class="fas fa-info-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Edit" asp-route-serieId="@Model.SeriesId" class="btn btn-success"> <i class="fas fa-pen"></i></a>
        <a asp-action="Delete" asp-route-serieId="@Model.SeriesId" class="btn btn-danger"><i class="fas fa-trash"></i></a>
    </div>
</div>
