@model IEnumerable<Booksy.Models.Serie>

@{
    ViewData["Title"] = "Series";
}

<div class="series-container" style="margin-top: 100px;">
    <h1>Series</h1>

    <p class="create-series-btn">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().SeriesName)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SeriesName)</td>
                        <td class="text-right">
                            <div class="action-buttons">
                                <a asp-action="Edit" asp-route-serieId="@item.SeriesId" class="btn btn-success btn-sm"><i class="fas fa-pen"></i></a>
                                <a asp-action="Details" asp-route-serieId="@item.SeriesId" class="btn btn-secondary btn-sm"><i class="fas fa-info-circle"></i></a>
                                <a asp-action="Delete" asp-route-serieId="@item.SeriesId" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
