@model IEnumerable<Booksy.Models.Serie>

@{
    ViewData["Title"] = "Series";
}

<h2>Series</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().SeriesName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-serieId="@item.SeriesId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-serieId="@item.SeriesId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-serieId="@item.SeriesId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
