@model Booksy.Models.Author

@{
    ViewData["Title"] = "Author Details";
}

<div style="margin-top: 100px;">
<h2>Author Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Author Image" style="max-width: 100px; max-height: 100px;" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.AuthorId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
</div>