@model Booksy.Models.Author

<div class="author-item hover-effect">
    <img src="@Model.ImageUrl" alt="@Model.FirstName @Model.LastName" class="author-image" />
    <div class="author-details">
        <h4>@Model.FirstName @Model.LastName</h4>
        <p>@Model.Biography</p>
    </div>
</div>

<style>
    .author-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        border-radius: 5px;
        margin-top: 50px;
    }

    .author-image {
        max-width: 100%;
        height: auto;
    }

    .author-title {
        margin-top: 100px;
    }

    .author-details {
        margin-top: 10px;
    }

    .hover-effect {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .hover-effect:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
</style>
