@model Booksy.Models.Author

<div class="author-item">
    <img src="@Model.ImageUrl" alt="@Model.FirstName @Model.LastName" class="author-image" />
    <div class="author-details">
        <h4>@Model.FirstName @Model.LastName</h4>
        <p>@Model.Biography</p>
    </div>
</div>

<style>
    .author-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        border-radius: 5px;
    }

    .author-image {
        max-width: 100%;
        height: auto;
    }

    .author-details {
        margin-top: 10px;
    }
</style>
